<a href="https://colab.research.google.com/github/PabloMath/JOB/blob/main/customers_and_orders/customers_and_orders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Technical Challenge ! Custiomers and Orders - The lifeblood of any business!

This notebook depends on two data files: customers.scv and orders.csv. These files are hosted in the cloud (or Github), so for simplicity, we are providing you with the code to download and save the two files in a folder called 'sample_data' which lives within this notebook session (not on your local computer nor Google Drive).

![sample_data folder in notebook session](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/sample_data_folder.png)

Please execute the first code snippet before moving to the rest of the exercise as this code will import the data from the files for you to be able to execute the rest of the exercise.

Remember as we said in the previous lecture, you have to save this notebook into your Google Drive by going to menu File/Save a Copy In Drive, or clicking in the button "Copy to Drive". This way, you will not lose any work you've done and the file will persist with your latest changes in your Google Drive. Also we recommend you to rename your .ipynb in your Google Drive, so you can easily find it in the future.

In [2]:
import requests

def import_data_files():
  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
  with open('./sample_data/customers.csv', 'wb') as f:
    f.write(r.content)

  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv')
  with open('./sample_data/orders.csv', 'wb') as f:
    f.write(r.content)

import_data_files()
print(import_data_files)

<function import_data_files at 0x7e6d7852e840>

# Exercise 1: Processing Customers data (difficulty medium)

The sample customer data in 'customers.csv' file has just 5 columns: CustomerId, First Name, Last Name, City and State

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/customers.png)

We strongly recommend that you complete from the [Prep Course: Intro to Python](https://colab.research.google.com/github/anyoneai/notebooks/blob/main/python3_crash_course.ipynb) the following section:
- Section 7: File I/O (to understand how to read CSV file)
- Section 6: For Loop (to navigate the contents of the CSV file)
- Section 5: Tuples, Lists, and Dictionaries (to manipulate the data of the CSV file)

With this, we hope you can complete this exercise successfully. Although if you want to solve this with libraries or any other way, you are welcome to do it your way.

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://github.com/anyoneai/notebooks/blob/main/customers_and_orders/data/customers.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, keep in mind that data might not be clean and you might have to figure out how to deal with that data from the code, without having to modify the data source.

Below are the 5 questions you'll have to answer to pass the evaluation:

**Question 1:** How many customers are in the file?
(as help, we have added some comments and starter code to help you structure the solution)

In [4]:
from os.path import exists
import csv

# check if file can be found and open the file
datafile = "./sample_data/customers.csv"
if not exists(datafile):
  raise SystemExit("You should run the first code cell and download the dataset files!")

# customers file is in the sample_data folder and can be opened.
# Using csv reader is one way of dealing with the file
# but it's up to you how you want to proceed
with open(datafile, 'r') as fl:
  csvreader = csv.reader(fl, delimiter=',')
  row_count = 0
with open(datafile, 'r') as fl:
  csvreader = csv.reader(fl, delimiter=',', quotechar='"')
  print("Here are CSV contents")
  for row in csvreader:
    # only process the first few rows
    if row_count > 3000: break

    # row is a list
    print("Row: %s | %s | %s"% (row[0], row[1], row[2]))
    row_count += 1

  # loop through the rows and count etc. THE REST IS UP TO YOU!


print("There are",row_count,"clients in the file")

Here are CSV contents
Row: CustomerID | FirstName | LastName
Row: 6192 | Randi | Piedrahita
Row: 5100595 | Christopher | Abraham
Row: 1902451 | Elvis | Jauregui
Row: 1906377 | Jose | Mota-Sanchez
Row: 1902406 | Scott   | McCrorie
Row: 22445 | Erin | Ravelo
Row: 11042 | Stephen | Klink
Row: 1500181 | Kari | Smith
Row: 4300371 | Edsel | Tan
Row: 4301400 | Corey | Smith
Row: 701684 | Shelton | Huynh
Row: 4302023 | Matteo | Gilartelli
Row: 9236 | Ralph | Persky
Row: 1906377 | Jose | Mota-Sanchez
Row: 5172200 | Andrew | McCarley
Row: 5173013 | Ivanna | Gantous
Row: 1500181 | Kari | Smith
Row: 1905150 | Mark | Wollman
Row: 4302052 | Michelle | Tuell
Row: 5370538 | Samantha  | Cosio
Row: 4300438 | Rhea | Somosot
Row: 1907428 | Josue | Quijada
Row: 5370863 | Angel | Marin
Row: 5173966 | Connor | Park
Row: 5768 | Leonard | Lightfoot
Row: 1900610 | Scott | McMurray
Row: 4300254 | Sarah | Kirschner
Row: 5100330 | Rosaline | Zhang
Row: 1904538 | Terry | Stinson
Row: 902251 | Mary | Galvan
Row: 1500339 | Robert | Megerdichian
Row: 1909384 | Maria | Rocha
Row: 5172086 | Khalil | Musleh
Row: 1904932 | Desirea | Sloan
Row: 5370771 | Prince | Zapata
Row: 5370253 | Astrid | Roelants
Row: 5370896 | BÃ©atrice | Vojnar
Row: 5173881 | Faith | Cho
Row: 5173981 | Hector | Harold
Row: 900635 | Antonio | Reyes
Row: 5971 | Craig | Thompson
Row: 5774 | Mary | Scates Johnson
Row: 5955 | Merrily | Morris
Row: 8462 | Miguel | Campos
Row: 5053 | Doe | Harris
Row: 2300276 | Jessy | Tzarax
Row: 5889 | Stephen | Cohn
Row: 5101470 | George | Martinez
Row: 1909705 | Kevin | Sullivan
Row: 5172982 | Erika | Carreon
Row: 5173868 | Geneva | McMahon
Row: 5173800 | Angelina | Montes
Row: 5173885 | Steven | Mopsikoff
Row: 4302129 | Carla | Tudela
Row: 5174054 | Alicia | Garcia
Row: 900590 | Christina | Coffey
Row: 5370557 | Guchul | Kim
Row: 5173686 | Jose Luis | Gonzalez
Row: 5572 | Todd | Johnson
Row: 5371026 | DR. Marina | Banik
Row: 5370673 | Tyler | Valen
Row: 5173982 | Teale | Hatheway
Row: 5173648 | Melba | Newhouse
Row: 5370404 | Amanda | Padilla
Row: 5370527 | Patrick | Spillman
Row: 5370986 | Elizabeth | Hillard
Row: 5370856 | Stephan | Brovko
Row: 902503 | Miguel  | Gomez
Row: 903743 | Carmen | Robertson
Row: 7553 | Al | Hodgson
Row: 5101829 | Mariano | Ambulo
Row: 4301487 | Manik Lal | Shrestha
Row: 5393076 | Jennifer | Welsh
Row: 1903965 | Christina | Ojeda
Row: 5415323 | Miles | Thompson
Row: 1907925 | Jordan | McMahon
Row: 4300081 | Richard | Halverson
Row: 5370298 | Alma | Perez
Row: 5370969 | David | Hester
Row: 5371016 | Conner | Gressitt
Row: 5415122 | Dorothy | Warren
Row: 5078 | Barbara | Jannette
Row: 1904932 | Desirea | Sloan
Row: 5173872 | Antonio | Hernandez
Row: 5370196 | Andrew | Courtis
Row: 6194 | Lorraine | Irwin
Row: 900590 | Christina | Coffey
Row: 5370422 | Emma | Davidson-Dillon
Row: 5173650 | Sergio | Tavares
Row: 5415114 | Adriana | Gonzales
Row: 5972 | Paul | Freeman
Row: 5415162 | Terah | Wicker
Row: 5415228 | Kimberly | Kulka
Row: 5572 | Todd | Johnson
Row: 5053 | Doe | Harris
Row: 5053 | Doe | Harris
Row: 1901469 | Marneil | Mercado
Row: 5774 | Mary | Scates Johnson
Row: 701684 | Shelton | Huynh
Row: 900569 | Judith | Spizer
Row: 1902451 | Elvis | Jauregui
Row: 7639 | Blake | Coomb
Row: 8091 | Anne | Jackson
Row: 5173998 | Charles | Udoma
Row: 5370786 | Kathryn | Yi
Row: 1500339 | Robert | Megerdichian
Row: 703330 | Jose | Guzman
Row: 4300670 | Jina | Chang
Row: 5945 | Pam | Hadley
Row: 4301059 | Natalie | Demotte
Row: 5463 |  Freddy | Zambrana
Row: 5370200 | Thomas | Macias
Row: 5370247 | Sherry | Pillarella
Row: 5431 | Jorge | Soto
Row: 5227 | Linda | Yount
Row: 4300754 | Franco | Lanzi
Row: 5370388 | Sara | Chin
Row: 701258 | Mark  | Williams
Row: 1904821 | Liz | Zam
Row: 5415279 | Dawn | Schneider
Row: 5415211 | Tristan | Ferguson
Row: 5415400 | Giselle | Villela
Row: 5415391 | Diana | Munoz
Row: 5415361 | Jason | Shao
Row: 5415384 | Marty | Reyes
Row: 5415409 | Tamecka | Smith
Row: 5415411 | Teresa | Pante
Row: 1903794 | Rhianna | Tycholis
Row: 5415445 | Joseph | Highshoe
Row: 5172200 | Andrew | McCarley
Row: 5415461 | Isiah | Molina
Row: 5415466 | Yusuf | Ozekici
Row: 5415452 | Gaby | Arroyo
Row: 5415502 | Geovanny | Espinoza
Row: 5415329 | Amir | Azizi
Row: 5415395 | Melissa | Choi
Row: 1908941 | Cesar | Perez
Row: 5370504 | Brian  | Rios
Row: 1909384 | Maria | Rocha
Row: 1900610 | Scott | McMurray
Row: 4301179 | Janette | Vong
Row: 5014 | Teresa | Ascolese
Row: 703330 | Jose | Guzman
Row: 1907812 | Mireille | Trevare
Row: 1906528 | Michael | Schaffner
Row: 6177 | Elizabeth | McDermott
Row: 9387 | Mohan | Nure
Row: 701258 | Mark  | Williams
Row: 1903127 | Ralph | Picon
Row: 1905606 | Brenda | Hamilton
Row: 2300256 | George  | Mukora
Row: 5172092 | Michelle | Khachadoorian
Row: 4301147 | Vilma | Pimentel
Row: 1909384 | Maria | Rocha
Row: 5172728 | Maria | Arguelles
Row: 700331 | Perry | Kressh
Row: 1907770 | Garret | Miller
Row: 4302023 | Matteo | Gilartelli
Row: 5101506 | Julianne | Hall
Row: 3500018 | Wayne | Gunther
Row: 5776 | Zeferino | Heredia
Row: 5076 | Nicki | Huard
Row: 5808 | Stanley | Key
Row: 5901 | Jila Miandoab | Maknouni
Row: 1906350 | Carrie | Dragt
Row: 5701 | Aaron | Seville-Douglas
Row: 4301198 | Hipolito | Cisneros
Row: 5172534 | Vicente | Galindo
Row: 5173438 | April | Rivera Marmol
Row: 5173013 | Ivanna | Gantous
Row: 703136 | Sean | Olson
Row: 5172443 | Brandon | Divas
Row: 703804 | Walter | Canizales
Row: 5370110 | Sachiko | Lee
Row: 5173856 | Pocholo Luis | De Guia
Row: 1905938 | JJ | Weltsch
Row: 4700094 | Jeff  | Randall
Row: 1900588 | Gayle | Harbor
Row: 6131 | Beverley | Standing
Row: 902639 | John  | Sanderford
Row: 7901 | Juzo | Hisaoka
Row: 703561 | Anthony | Orona
Row: 1909346 | Monica Ofelia | Rodriguez Lemos
Row: 5173073 | Trenecca  | Jones
Row: 1905938 | JJ | Weltsch
Row: 4301117 | Natalie | Mumford
Row: 5101127 | Michael | Hendrix
Row: 5173927 | Jackelyn | Zamora
Row: 5173962 | Catina | Ray
Row: 4301117 | Natalie | Mumford
Row: 5173498 | Tristan | Wildey
Row: 5173196 | Kaohai  | Yan
Row: 5370196 | Andrew | Courtis
Row: 5173788 | Jeff | McLean
Row: 5370101 | Maria De Jesus | Sanchez
Row: 5370251 | Jose | Tafolla
Row: 5174063 | Albert | Rojas
Row: 5371053 | Khureltsetseg | Sainbaatar
Row: 5370211 | Kimberly | DePland
Row: 5370268 | Valerie | Rodriguez
Row: 5370647 | Jadira | Orozco
Row: 900258 | Bully | Nimaga
Row: 5756 | Edna | Fabbro
Row: 1500569 | Cecilio | Garcia
Row: 4300858 | Diana | Atkisson
Row: 4301696 | Rachel | Vrbka
Row: 5100834 | Isabel | Pulido
Row: 5100984 | Fransico | Vega
Row: 700294 | Simon | Kovelman
Row: 5172598 | Emma | Puno
Row: 5173018 | Vincent | Soliz
Row: 4301159 | Rajendra | Bagale
Row: 5173569 | Alicia | Sarraute
Row: 5173135 | Marco  | Trejo
Row: 5173901 | Natalie | Lopez
Row: 5173018 | Vincent | Soliz
Row: 5174004 | John | Harrison
Row: 5370706 | Katrina | Parkinson
Row: 1904527 | Carolyn | Hoong
Row: 5227 | Linda | Yount
Row: 5173895 | Giancarlo | Franco
Row: 5370317 | Valerie  | Gaytan
Row: 5370216 | Iliana | Londiol
Row: 5370985 | Gabriela  | Vargas
Row: 5370163 | Alessandra | Mortellaro
Row: 5370983 | Michael | Maye
Row: 5415089 | Isabelle | Bres
Row: 4301487 | Manik Lal | Shrestha
Row: 5415171 | Dena | Brummer
Row: 903743 | Carmen | Robertson
Row: 701419 | Milton | Ortega
Row: 5078 | Barbara | Jannette
Row: 5370278 | Brittany | Mathewson
Row: 5370719 | James | Myhre
Row: 5173938 | Eltidio | Reyna
Row: 701684 | Shelton | Huynh
Row: 5370142 | Junecheol | Cho
Row: 5463 |  Freddy | Zambrana
Row: 1907925 | Jordan | McMahon
Row: 4301217 | Maria | Quintana
Row: 5370378 | Amalia | Diaz
Row: 20850 | Marcy | Gonzalez
Row: 1908934 | Sara | Garmon
Row: 9387 | Mohan | Nure
Row: 6177 | Elizabeth | McDermott
Row: 6177 | Elizabeth | McDermott
Row: 5370458 | Alyssa | Velis
Row: 5370474 | Andie | Gechtman
Row: 5100785 | Yoona | Oh
Row: 5371026 | DR. Marina | Banik
Row: 5415113 | Kelsey | Mather
Row: 7812 | Andre | Tabak
Row: 5370757 | Michelle | Edison
Row: 4300695 | Diane | Gatza
Row: 5463 |  Freddy | Zambrana
Row: 4301117 | Natalie | Mumford
Row: 700771 | Cida  | Guerra
Row: 1903794 | Rhianna | Tycholis
Row: 1905150 | Mark | Wollman
Row: 902139 | Ernie | Previch
Row: 5972 | Paul | Freeman
Row: 10986 | Bill | Doggett
Row: 10986 | Bill | Doggett
Row: 1904538 | Terry | Stinson
Row: 703330 | Jose | Guzman
Row: 5415331 | Teagan | Giffin
Row: 5415402 | Phyllisa | Lozano
Row: 5415416 | Paris | Mendes
Row: 5173749 | Abigail | Finan
Row: 5415434 | Lucas | Ruiz
Row: 902503 | Miguel  | Gomez
Row: 23898 | Masao | Takarada
Row: 5078 | Barbara | Jannette
Row: 5431 | Jorge | Soto
Row: 1909700 | Robert | Trevino
Row: 4302187 | Diana | Nicholls
Row: 5430 | James | Riley
Row: 701419 | Milton | Ortega
Row: 5100812 | John | Abraham
Row: 5814 | Robert | McNellis
Row: 5782 | Barbara | Mueller
Row: 4301217 | Maria | Quintana
Row: 1903078 | Francisco | Carvalho
Row: 5280 | Annette | Stevenson
Row: 902536 | Heather | Silva
Row: 5100007 | Paul | Hordyk
Row: 11481 | Randy | Kemble
Row: 5464 | Juan | Soto
Row: 5172859 | Maria | Ruiz
Row: 1904133 | Luis  | Montellano Luna
Row: 5173158 | Ines | Mosombite
Row: 1908177 | Najiba | Azimi
Row: 5173778 | David | Juarez
Row: 4300670 | Jina | Chang
Row: 5173939 | Lisa Marie | Martinez
Row: 900070 | Donald | Wright
Row: 1904479 | Stuart | Smith
Row: 23107 | David | Resnick
Row: 1500028 | Rachelle | Harbison-Michel
Row: 1907160 | Mohamed | Drame
Row: 1904529 | Elizabeth | Gyerman
Row: 5616 | Francisco | George
Row: 5945 | Pam | Hadley
Row: 1904438 | Paul | Montalvo
Row: 5126048 | Renee | Sands
Row: 5172376 | James | Gigliotti
Row: 5172601 | Melissa  | Perez
Row: 5172644 | Martha | Bernabe
Row: 5172760 | Winston  | Scott
Row: 901063 | Dermot | Begley
Row: 22827 | Joe | Rockwell
Row: 5370315 | Erin | Montgomery
Row: 5100779 | Daniel | Minnick
Row: 4301968 | Thande | Htwe
Row: 20850 | Marcy | Gonzalez
Row: 5100363 | Lindsey | Zilliox
Row: 1905150 | Mark | Wollman
Row: 900635 | Antonio | Reyes
Row: 5424 | Lynne A. | Ciotti Parton
Row: 5173506 | Joseph | Sampson
Row: 1903426 | Edward | Cervantes
Row: 5172786 | Michael | Shaller
Row: 1905380 | Rosa | Diazgomez
Row: 20532 | Lourdes | Ramirez
Row: 5415325 | Robert | Nazaretyan
Row: 1909369 | Sophie | Labonte
Row: 5172284 | Joel | Dominguez
Row: 900569 | Judith | Spizer
Row: 5173287 | Jennifer | Oquinn
Row: 5100330 | Rosaline | Zhang
Row: 5174021 | Mariely | Galindo
Row: 5370863 | Angel | Marin
Row: 5172760 | Winston  | Scott
Row: 5370134 | Darwin | Tindan
Row: 10986 | Bill | Doggett
Row: 5100185 | Angie | Garabet
Row: 903601 | Chris | Brady
Row: 11321 | Andrew | Munana
Row: 4300928 | Miguel | Osorio
Row: 1907083 | Jonathan | Gamino
Row: 5172365 | Nancy | Gonzalez
Row: 4301362 | Andrew | Garcia
Row: 5172799 | Jamie | Westfall
Row: 7812 | Andre | Tabak
Row: 5173918 | Cecilia | Quintero
Row: 5173800 | Angelina | Montes
Row: 5173969 | Miguel | Gomez
Row: 5100785 | Yoona | Oh
Row: 5370205 | Monica | Hsu
Row: 5173783 | Elena | Ringgold
Row: 4301362 | Andrew | Garcia
Row: 5370415 | Tristan | Saggese
Row: 5172656 | Somerset  | Ruiz
Row: 5173842 | Anthony | Gomez
Row: 5174027 | Long | Huynh
Row: 5370482 | Valentina | Hanley
Row: 1901046 | Reginald | Samilin
Row: 5370547 | Alan | Abrams
Row: 5370602 | Jasleen | Vital
Row: 5415249 | Colleen | Coffin
Row: 5370846 | Desiree | Womack
Row: 5173904 | Charles | Vorachard
Row: 5370655 | Elias | Abuel
Row: 5370630 | Alice | Xu
Row: 5415141 | Emma | Miller
Row: 5415175 | Jeannae | Munoz
Row: 5415182 | Ronnie | Newsome
Row: 1904886 | Alice | Allen
Row: 901786 | Eduardo | Belloso
Row: 5173844 | Tiffany | Haslacker
Row: 5370649 | Eric | Marin
Row: 23898 | Masao | Takarada
Row: 902536 | Heather | Silva
Row: 1904133 | Luis  | Montellano Luna
Row: 5173877 | Jordan | Sierra
Row: 5370884 | Nicole | Angelo
Row: 700771 | Cida  | Guerra
Row: 902139 | Ernie | Previch
Row: 703804 | Walter | Canizales
Row: 5370475 | Roxy | Abrishamchian
Row: 5173650 | Sergio | Tavares
Row: 5126069 | Susie  | Shaughnessy
Row: 5370758 | Xiaoyu | Xiao
Row: 10986 | Bill | Doggett
Row: 1907428 | Josue | Quijada
Row: 1907812 | Mireille | Trevare
Row: 4300754 | Franco | Lanzi
Row: 5945 | Pam | Hadley
Row: 23898 | Masao | Takarada
Row: 700771 | Cida  | Guerra
Row: 901063 | Dermot | Begley
Row: 1907141 | Kristen | Smith
Row: 5415286 | Jonathan | Barretto
Row: 5415427 | Kacie | Simpson
Row: 5415436 | Genevieve | Van Dam
Row: 5415443 | Isabel | Shields
Row: 701419 | Milton | Ortega
Row: 5415407 | Luiza | Medina
Row: 5415422 | Adam | Navarro
Row: 5415424 | Paula | Cruz-Bonde
Row: 5415456 | Raquel | Alvarado
Row: 5415457 | Shawn | Berina
Row: 5415472 | Joseph | VanDyke
Row: 5370200 | Thomas | Macias
Row: 4301117 | Natalie | Mumford
Row: 5415470 | Kerwin | Burns
Row: 5415484 | Arely | Briseno
Row: 5415486 | Jillian | Lay
Row: 6194 | Lorraine | Irwin
Row: 8091 | Anne | Jackson
Row: 5365 | Richard | Machtolff
Row: 7639 | Blake | Coomb
Row: 6196 | Cecilia | Resendez
Row: 8259 | Josh | Zimber
Row: 6144 | Roger | Handy
Row: 5100779 | Daniel | Minnick
Row: 1901506 | Gerald | Simpson
Row: 19096 | Joe | Corosu
Row: 2300266 | Josh | Weisman
Row: 5710 | Samuel | Tafolla
Row: 5172086 | Khalil | Musleh
Row: 902139 | Ernie | Previch
Row: 5173415 | Max | Ortiz
Row: 700771 | Cida  | Guerra
Row: 1900709 | Shaheen | Plunier
Row: 5370671 | Maria | Felix
Row: 703804 | Walter | Canizales
Row: 4302023 | Matteo | Gilartelli
Row: 5126060 | Behzad | Haghiri
Row: 4300295 | Erin | Powell
Row: 9612 | Diana | Redburn
Row: 5172337 | Jae Zee  | Roth Strong
Row: 1908934 | Sara | Garmon
Row: 4300840 | Yousof | Noorsher
Row: 900329 | Hector | Gomez
Row: 5172487 | Artem  | Emelianov
Row: 4700014 | Kenneth | Jones
Row: 5100605 | Simona | Sabo
Row: 900879 | Keiji | Koyabu
Row: 4301885 | Abdul | Qureshi
Row: 5100721 | Victor | Kartounian
Row: 5172133 | Jeremiah  | Hunter
Row: 5101748 | Donna | Sutton
Row: 5068 | Maureen | Amato Mayes
Row: 1907259 | Rosa | Herron
Row: 1904400 | Salvador G | Ramirez
Row: 20471 | Janice | Matsumoto
Row: 5446 | Tom | Ishimaru
Row: 4300081 | Richard | Halverson
Row: 1900805 | Tereso | Sandoval
Row: 5101829 | Mariano | Ambulo
Row: 4301100 | George | Castrinos
Row: 5172491 | Leon | Luu
Row: 4300081 | Richard | Halverson
Row: 3900068 | Jessica | Augustine
Row: 5463 |  Freddy | Zambrana
Row: 5946 | Mark | Young
Row: 5172908 | Julie | Kartalian
Row: 5173893 | Jasmine | Church
Row: 5172643 | Nicole | Ortiz
Row: 5370086 | Aida | Estrada
Row: 5173498 | Tristan | Wildey
Row: 5370111 | Zoe | Martsolf
Row: 5370159 | Jade | Estrada
Row: 5173989 | James | Markel
Row: 1901469 | Marneil | Mercado
Row: 5572 | Todd | Johnson
Row: 5721 | Janet | Hyatt
Row: 5101304 | Emanuel | Torres
Row: 4301827 | Hector | Lopez
Row: 14564 | Louis | Straser
Row: 5172865 | Christa | Pappenscheller
Row: 5172680 | Frances | Marquez
Row: 5100984 | Fransico | Vega
Row: 5370173 | Jared | Gholston
Row: 11321 | Andrew | Munana
Row: 5370446 | Brooke | Ferraro
Row: 5370378 | Amalia | Diaz
Row: 4301400 | Corey | Smith
Row: 5371030 | Angela | Casey
Row: 5173938 | Eltidio | Reyna
Row: 5173613 | Arvin | Madlambayan
Row: 5173749 | Abigail | Finan
Row: 1909369 | Sophie | Labonte
Row: 5173928 | Sean | Knibb
Row: 5463 |  Freddy | Zambrana
Row: 1907925 | Jordan | McMahon
Row: 5173875 | Sara | Dunne
Row: 5370599 | Valeria | Morales
Row: 20471 | Janice | Matsumoto
Row: 8404 | Maria | Valenzuela
Row: 7901 | Juzo | Hisaoka
Row: 5446 | Tom | Ishimaru
Row: 5370415 | Tristan | Saggese
Row: 8259 | Josh | Zimber
Row: 1900610 | Scott | McMurray
Row: 5370329 | Shoji | Ochiai
Row: 1909384 | Maria | Rocha
Row: 5100834 | Isabel | Pulido
Row: 903601 | Chris | Brady
Row: 10986 | Bill | Doggett
Row: 5370347 | Melissa | Barajas
Row: 5370163 | Alessandra | Mortellaro
Row: 4301885 | Abdul | Qureshi
Row: 23107 | David | Resnick
Row: 1909369 | Sophie | Labonte
Row: 1904133 | Luis  | Montellano Luna
Row: 5431 | Jorge | Soto
Row: 5415350 | Chris | Horan
Row: 5415420 | Christine | Han
Row: 5415425 | Michele | Pelletier
Row: 1904821 | Liz | Zam
Row: 5415441 | Brandon | Johnson
Row: 5415450 | Lavinia | Aghakhani
Row: 5415318 | Karen | Sartorio
Row: 5415468 | Chauntelle | Loose
Row: 5415477 | Cherrod | Jackson
Row: 903601 | Chris | Brady
Row: 3900068 | Jessica | Augustine
Row: 5415337 | Ezgi | Uzun
Row: 5415404 | Michael | Goldfarb
Row: 5415405 | Erika | Jonke
Row: 5415423 | Teja | Anderson
Row: 5173895 | Giancarlo | Franco
Row: 5415438 | Gray | Hong
Row: 4301754 | Lorelei | Buda
Row: 5415455 | Larry | John
Row: 5415270 | Kiersten | Wolin
Row: 5415474 | Julio | Ramirez
Row: 5415428 | Karen | Ortiz
Row: 5370111 | Zoe | Martsolf
Row: 5415433 | Brandon | Najad
Row: 5415444 | Edward | Rodriguez
Row: 5415453 | Susan | Yates
Row: 5415503 | Alison | Rivera
Row: 5415397 | Gabriela | Arias
Row: 5415414 | Tobin | Oconnor
Row: 5415382 | Roland | Valadez
Row: 5415429 | Bob | Marshall
Row: 5415430 | Aaron | Gonzales
Row: 5415198 | Catherine | Paciente
Row: 5415431 | Judy | Woodward
Row: 5415432 | Luz | Wembes
Row: 5415232 | Guillermo | Vazquez
Row: 5415464 | Lisa | Carrier
Row: 5415413 | Loukas | Stelyn
Row: 5415398 | Natasha | Gabbayan
Row: 5415415 | Vivian | Lainfiesta
Row: 5415462 | Patricia | McMains
Row: 5415463 | Juvencio | Perez
Row: 1904133 | Luis  | Montellano Luna
Row: 1904886 | Alice | Allen
Row: 5415421 | Yuanyuan | Jia
Row: 5415471 | Kelley | Smith
Row: 4301100 | George | Castrinos
Row: 5415401 | Gabriela | Leon
Row: 5415410 | Jeonghyun | Seok
Row: 5415426 | Sequoia | Roberts
Row: 5415435 | Susanna | Reyes
Row: 5415478 | Vanessa | Lemaistre
Row: 5415451 | Tarah | Kennedy
Row: 4300670 | Jina | Chang
Row: 4302052 | Michelle | Tuell
Row: 5415394 | Barry | Connell
Row: 5415458 | Monica  | Balcarcel
Row: 5415469 | Robyn | Greeson
Row: 5415476 | Steven | Puglisi
Row: 5415498 | Ayman | Youssef
Row: 5415499 | Mariella | Rudi
Row: 5415418 | Rhonda | Spencer
Row: 5415459 | Franchesca | Corcoran
Row: 5415475 | Ruriko | Yamada
Row: 5415500 | Volha | Kirilenko
Row: 5415406 | Melodie | Muggy
Row: 5415087 | Rocio | Valdez
Row: 5415437 | Michael | Merle
Row: 5415440 | David | Bouchat
Row: 5415439 | Jovanny | Jimenez
Row: 5415473 | Darrick | Hayden
Row: 702407 | Steven | Arroyo
Row: 5415285 | Barry | Schoenfeld
Row: 5415403 | Jacqueline | Miller
Row: 5415408 | Raul | Herrera
Row: 5415419 | Juan | Castillo
Row: 5415442 | Scott | Fillmore
Row: 5415460 | Shayden | Schorr
Row: 5415467 | Maria | Verduzco
Row: 5415483 | Victor | Zamudio
Row: 5415485 | Garrett | Babbitt
Row: 5415449 | Jesseca | Muniz
Row: 5415447 | Fernando | Rodriguez
Row: 5415399 | Charlene | Stephens
Row: 5415412 | Rita | Borough
Row: 5415379 | Gaylord Jordan | Ferrer
Row: 5415362 | Alan | Cruz
Row: 5415446 | Aaron | Alvarado
Row: 5415448 | Edgardo | Monteclaro
Row: 5415365 | Trinity | Hall Reif
Row: 5415465 | Kisona | Mialoto Jr.
Row: 5415345 | Lawrence | Zhang
Row: 5415481 | John | Hughes
Row: 5415482 | Phillip | Okonma
There are 603 clients in the file

**Question 2:** In how many different states do the customers live in?

In [ ]:
# open file and init vars
# evaluate the contents of the file

**Question 3** What is the state with most customers?

In [ ]:
# open file and init vars
# evaluate the contents of the file

**Question 4** What is the state with the least customers?

In [ ]:
# open file and init vars
# evaluate the contents of the file

**Question 5:** What is the most common last name?

In [ ]:
# open file and init vars
# evaluate the contents of the file

# Exercise 2: Processing Orders data (difficulty high)

The second sample files contains orders placed by customers from the first file. Be careful, this file has many rows and you most likely should not print the contents of the whole file.

The file contains the following columns: CustomerID, OrderID, Date, OrderTotal, ProductName, Price

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/orders.png)

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, the data is not clean and you will have to figure out how to deal with that data from the code, without having to modify the data source.



**Question #1:** How many unique orders are in the orders.csv file?

**Question #2:** What is the average number of items per order (rounded to two decimal places)?

**Question #3:** What is the highest number of items per order?

**Question #4:** What is the number of orders placed in October 2021?

**Question #5:** Which customer spent the most amount of money in 2021?

**Question #6:** Historically, what is the best month for sales?

Once you get your answers, remember to go back to the course and introduce them in the multiple choice quiz

In [ ]:
# open and evaluate orders.csv

# Finished!

Hope this was not too difficult and slicing and dicing the datasets was some fun. Now head on back to the course and provide the answers to the questions from this exercise.